:root {
	--clr-text: #fdefcd;
	--clr-selection: rgba(255, 156, 245, 0.3);
	--clr-background: #00001c;
}

@font-face {
	font-family: "Graphie";
	src: url("/fonts/Graphie-ExtraBold.ttf") format("truetype"),
		url("/fonts/Graphie-ExtraBold.otf") format("opentype");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

body {
	background: var(--clr-background);
	font-family: Graphie, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
}

::selection {
	background-color: var(--clr-selection);
	color: var(--clr-text);
}

::-moz-selection {
	background-color: var(--clr-selection);
	color: var(--clr-text);
}

.text__1,
.text__2,
.text__3 {
	color: var(--clr-text);
	text-align: center;
	margin-block-start: 0;
	margin-block-end: 0;
}

.content {
	width: 100%;
	font-family: Graphie, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
	font-size: 0.825vw;

	@media (max-width: 768px) {
		font-size: 2vw;
	}
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 70em;
	gap: 17.6em;
	padding: 6em 0;

	@media (max-width: 768px) {
		width: 100%;
	}
}

.container section {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto;
}

.section__main__content {
	gap: 5.6em;
}

.text__1 {
	font-size: 10.4em;
	line-height: 90%;
	letter-spacing: -0.01em;
	font-weight: 700;
	max-width: 45em;

	@media (max-width: 768px) {
		font-size: 13.979em;
	}
}

.text__2 {
	font-size: 4.9em;
	max-width: 7.6em;
	letter-spacing: 0.01em;
}

.text__3 {
	font-size: 13.979em;
	max-width: 2.4em;
}

.video-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.video-bg video {
	width: 100%;
	height: 100%;
}
